
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="nav-grid">
    <a href="<%=root_path %>" class="navbar-brand"id="nav-one">
      <h1 class="new-font"  >kter</h1>
    </a>
    <div class="nav-link" id="nav-two"> <h4><%= link_to "Space Owners", product_path(id: 1) %></h4></div> 
    <div class="nav-link"> <h4><%= link_to "Restaurateurs", product_path(id: 2), class: "nav-item navbar-nav", id: "nav-three" %></h4>
    </div>  <div class="nav-link"> <h4><%= link_to "Partnerships", product_path(id: 3), class: "nav-item navbar-nav", id: "nav-four" %></h4>
    </div> <div class="nav-link"> <h4> <a class="nav-item navbar-nav" href="#about-us" id="nav-five"> About </a> </h4>  </div>  

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          

        
        

        <% if user_signed_in? %>
          <li class="nav-item-log">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
       
        <% end %>

      </ul>
    </div>
  </div>
</div>