<div class="row m-0">
  <div class="left-col col-6 p-5">
    <h4 class="text-info mt-3 pt-3">Let's add a new dish to your menu</h4>
    <div class="form-top">
      <h5 class="text-secondary my-4">First things first: Let's start with the basics</h5>
      <h5 class="text-muted"></h5>
        <%= simple_form_for [@product] do |f| %>
          <%= f.input :name,  label: false, placeholder: 'Box Name' %>
          <%= f.input :description,  label: false, placeholder: 'Box Description' %>
          
          <div class="row m-3">
            <div class="col-6">
              <%= f.input :photos, as: :file, input_html: {multiple: true, class: "d-none", id: 'photo-input'}, label_html: {class: "upload-photo"} , label: ':camera: Upload photo(s)' %>
            </div>
            <div class="col-6">
              <%= f.input :price, placeholder: 'Cost', label: false %>
            </div>
          </div>
          <h5 class="text-secondary">Now let's add the dimension details</h5>
          <div class="row m-0">
            <%= f.input :height,  placeholder: 'Box height' %>
          </div>
          <div class="p-0">
            <%= f.input :lenght,  placeholder: 'Box Length' %>
          </div>
            <%= f.submit "Let's sell this box", class: 'btn btn-primary' %>
        <% end %>
    </div>
  </div>    
  <div class="right-col col-6 vh-100" style="background-image: url('<%= image_path("boxes.png") %>')"></div>
</div>