

  <div class="banner">
  <video id="banner_video" loop muted></video>
  <div id="main_content">
  <div class="index-banner-grid">
    <h1>Your food is art</h1>
    <div class="space"></div>
    <div class="index-shop">
    <div>
    <h3> <a href="#index-title">  Find its perfect frame </a></h3>
    </div>
    <div>
        <h4><%= fa_icon "chevron-circle-down" , class: "fa-2x shop_font_awesome" %></h4>
      </div>
    </div> 
  </div>
  </div>
  </div>
<div class="index-page-container">
  <%= link_to "New product", new_product_path %>
    <div class="index-grid">
      <h2> <a id="index-title"></a> The Lotus  </h2>
      <% @products.each do |product| %>
        <div class="m-3 p-3">
          <%= link_to product_path(product.id) do %> 
           <div class="product-card" > 
            
             <div class="product-card-image" style="background-image: url(
                <% if product.photos.attached?  %>
                  <%= cl_image_path product.photos[4].key, height: 300, width: 400, crop: :fill %>
                <% else %>
                  <%= 'assets/product.png' %>
                <% end %>
              );"> 
              </div>
            <div class="product-card-info">  
              
              <div class="index-card-grid">
                <div class="index-card-title">
                  <%= link_to product.name, product_path(product.id) %>
                </div>
                <div class="index-card-price">
                  <%= number_to_currency(product.price) %>
                </div>
                <div class="index-card-discover">
                  <h4>Discover Now <%= fa_icon "chevron-circle-right" , class: "discover_font_awesome" %> </h4>
              </div>
            </div>


           </div> 
          </div>
          
          <%= button_to "Add #{product.name} to cart", new_product_line_item_path(:product_id => product.id, :quantity => 1) %>
        <% end %>  
        </div>
       <% end %>
    </div>

</div>

