

  <div class="banner">
  <div id="banner-sub"> <%= cl_image_tag("banner_dz4sa4.jpg") %> </div>
  <%# <video id="banner_video" loop muted></video> %>
  <div id="main_content">
  <div class="index-banner-grid">
     <h2> <div id="app-title">  </div></h2>
    <h3>Established to help kitchen owners and restaurateurs navigate the food delivery market.</h3>
    <div class="space"></div>
    <div class="index-shop">
    <div>
    <h3> <a href="#index-title">  Our Solutions </a></h3>
    </div>
    <div>
        <h4><%= fa_icon "chevron-circle-down" , class: "fa-2x shop_font_awesome" %></h4>
      </div>
    </div> 
  </div>
  </div>
  </div>
  </div>
<div class="index-page-container">
  <% if user_signed_in? && current_user.admin == true %>
    <%= link_to "New product", new_product_path, class: "btn btn-primary" %>
  <% end %>
  
    <div class="index-grid">
      <h4> <a id="index-title"></a> Who you are?</h4>
      <% @products.each do |product| %>
        <div class="mx-2 px-2">
          <%= link_to product_path(product.id) do %> 
           <div class="product-card" > 
            <div class="index-card-title">
             <%= link_to product.name, product_path(product.friendly_id) %>
            </div>
             <div class="product-card-image" style="background-image: url(
                <% if product.photos.attached?  %>
                  <%= cl_image_path product.photos[3].key, height: 300, width: 400, crop: :fill %>
                <% else %>
                  <%= 'assets/product.png' %>
                <% end %>
              );"> 
              </div>
            <div class="product-card-info">  
             <p> <%= product.small_text %> </p> 
             
           </div>
          <div class="see-more">
            <%= link_to "See More", product_path(product.friendly_id), class: "btn btn-primary" %>
          </div>
          </div>
          
          <%# <%= button_to "Add #{product.name} to cart", new_product_line_item_path(:product_id => product.id, :quantity => 1) %> 
        <% end %>  
        </div>
        <% end %>
    </div>

<div id="about-us" class="my-5">
  <h4> <a id="index-title"></a> Who we are?</h4>
  <div class="about-grid">  
    <div class="about-card my-3">
      <div class="about-picture">
        <%= cl_image_tag("Sebastian_Grima-86_-_EDIT_j4z0gb.jpg", :effect=>"grayscale", :gravity=>"face", :height=>220, :width=>220, :border=>90, :crop=>"fill") %>
      </div>
      <div class="about-info">
        <h5> Sebastien Grima, Co-Founder</h5>
        <p> Previously part of the Real Assets Credit team at CPP Investments, a global investor in public and private markets with a current portfolio exceeding C$475 billion, Sebastien has experience across all assets in Real Estate. 
           <br> During the lockdown, Sebastien saw value in under-utilized spaces by converting them into ghost kitchens. The goal is to increase revenue and value of real estate assets, and to provide restaurateurs with an easy access to an additional revenue stream once their business re-open. In both cases, it is paramount to help both actors embrace their future in an eCommerce dominated economy.
        </p>
      </div>
    </div>
    <div class="about-card my-3">
      <div class="about-picture">
       <%= cl_image_tag("DSC_0171_j_uhjp6i.jpg", :effect=>"grayscale", :gravity=>"face", :height=>220, :width=>220, :x=>770, :y=>1968, :zoom=>0.55, :crop=>"thumb") %> 
      </div>
      <div class="about-info">
        <h5> Dean Page, Co-Founder</h5>
        <p> With more than 35 years of experience in the hospitality sector, Dean knows the in-and-outs of the restaurant world. Having previously managed his own restaurant, and through extensive experience in the catering business he can engineer a kitchen in record times. 
        <br> Having been a Head Chef for the past 10 years, he will assist our clients delivery business by providing services ranging from the hiring of their staff to the creation of tasting menus.
            Dean has a vast network of restaurateurs, and will ensure our tenants brands are best adapted to the assets's communities.
        </p>
      </div>
    </div>
</div>



