<div class="show-container mx-auto py-3">


  <div class="tasting-menu row mx-auto">
    <div class="restaurant-cards col-5" style="display: flex; justify-content: center">
			<div class="menu_width" style="width:100%">
    
          <div class="slider-for">           
            <% @product.photos.each do |photo| %>
              <div class="item">
                <%= cl_image_tag photo.key, height: 469, width: 500, crop: :fill, :class => "box_img" %>
              </div>
            <% end %>
          </div>

					<div class="slider-nav">
            <% @product.photos.each do |photo| %>
              <div class="item">
                <%= cl_image_tag photo.key, height: 110, width: 110, crop: :fill, :class => "box_img" %>
              </div>
            <% end %>
					</div>	
			</div>
    </div>

    <div class="tasting_description col-4" id="tasting">
      <h1> <%= @product.name %></h1>
        <%= link_to "Edit", edit_product_path(@product) %> |
        <%= link_to "Delete", product_path(@product), method: :delete, data: {confirm: "Are you sure?"} %>
      <h6> <strong> Dimensions: </strong>  </h6>
      <p> H: <%= @product.height %> cm x L: <%= @product.lenght %> cm </p>
        <%= simple_form_for [@product, @line_item], html: { class: :new_order_form } do |f| %>
          <%= f.input :quantity, input_html: {value: f.object.quantity || 1} %>
          <%= f.submit 'Add to Cart', class: 'btn btn-gold confirm-order' %>
          <%# <%= link_to "View Basket", dashboard_path, class: 'btn btn-checkout' %>
          <% end %>
      <h6> <strong> Description: </strong>  </h6>
      <p> <%= @product.description %> </p>

    </div>
 
  </div>