<div class="show-container mx-auto py-5">


  <div class="tasting-menu row mx-auto">
    <div class="restaurant-cards" style="display: flex; justify-content: center">
     <%= cl_image_tag @product.photos[3].key, height: 300, width: 400, crop: :fill %>
		</div>
  </div>

    <div class="tasting_description" id="tasting">
      <h1> <%= @product.name %></h1>
        <%= link_to "Edit", edit_product_path(@product) %> |
        <%= link_to "Delete", product_path(@product), method: :delete, data: {confirm: "Are you sure?"} %>
      <h6> <strong> Description: </strong>  </h6>
      <p> <%= @product.description %> </p>

    </div>
 
  </div>