<div class="show-container mx-auto">
  <div class="tasting-menu row mx-auto" style="background-image:url(<%= cl_image_path @product.photos[3].key %>);background-size: cover;background-repeat: no-repeat;width: 100%;height: 600px;">
  </div>

    <div class="tasting_description p-5" id="tasting">
    
      <h1> <%= @product.name %></h1>
      <% if user_signed_in? && current_user.admin == true %>
        <%= link_to "Edit", edit_product_path(@product) %> |
        <%= link_to "Delete", product_path(@product), method: :delete, data: {confirm: "Are you sure?"} %>
      <% end %>
      
      <p> <%= @product.description %> </p>
    </div>
  </div>
  <div class="show_mid_banner">  
    <div class="show_mid_text">
      <h4>  <%= @product.small_text %>  </h4>
    </div>
  </div>

  <div class="bottom_container">
    <div class="bottom_show_grid">
      <div class="show_grid_photo_one style=" style="background-image:url(<%= cl_image_path @product.photos[0].key %>);">
      </div>
      <div class="show_grid_text_one">
      <p> <%=  @product.text_area_one %> </p> 
      </div>
      <div class="show_grid_photo_two" style="background-image:url(<%= cl_image_path @product.photos[1].key %>);">
      </div>
      <div class="show_grid_text_two">
        <p> <%=  @product.text_area_two %> </p> 
      </div>
      <div class="show_grid_photo_three" style="background-image:url(<%= cl_image_path @product.photos[2].key %>);">
      </div>
      <div class="show_grid_text_three">
        <p> <%=  @product.text_area_three %> </p> 
      </div>
    </div>
  </div>